body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.menu li a:hover{
    background: #17555F;
}