body{
    background: black;
}

.galeria{
    width: 100%;
}

.galeria img{
    vertical-align: top;
    width: 300px;
    margin: 20px;
    padding: 5px;
    opacity: 0.5;
    border: 1px solid #484848;
}

.galeria img:hover{
    opacity: 1;
}