*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario:{
    background: #ffffff;
    width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.formulario input {
    display: block;
}