*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 1000px;
    background: #cccccc;
    margin: 20px;
}

header{
    background: #30323d;
    color: #ffffff;
    padding: 20px;
}

.main{
    background: #ffffff;
    padding: 20px;
    width: 700px;
    float: left;
}

aside{
    background: #FF5100;
    color: #ffffff;
    width: 300px;
    float: left;
}

footer{
    clear: both;
    background: #4d5061;
    padding: 20px;
    color: #ffffff; 
}