*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 200px;
}

header .menu{
    width: 390px;
}
header .menu a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    font-size: 18px;
}

header .menu a:hover{
    text-decoration: underline;
}

.main{
    background: #ffffff;
    padding: 20px;
    width: 70%;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}

aside{
    width: 30%;
    background:#537dca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

aside .ad{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 50px 0;
    background: #4264a2;
    margin-bottom: 20px;
}

footer{
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
}

footer .redes a{
    color: #ffffff;
    text-decoration: underline;
    margin-left: 20px;
}

footer .redes a:hover{
    text-decoration: none; 
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
        flex-direction: row;
    }
    aside .ad{
        width: 40%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px){
    header{
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu{
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        text-align: center;
        padding: 20px;
        display: inline-block;
    }

    header .menu a{
        margin: 0 20px;
    }
    
    header .logo{
        margin-bottom: 20px;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .autor{
        order: 2;
    }

    footer .redes{
        order: 1;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:400px){
    aside{
        display: none;
    }
}