*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #4a465b;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

.imagenPortada img{
    width: 1000px;
    height: 250px;
    margin-bottom: 5px;
}

header{
    margin-bottom: 5px;
}

header nav{
    width: 100%;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #ffffff;
    
}
#inicio{
    border-top: 3px solid rgb(0, 255, 238);
}
#somos{
    border-top: 3px solid yellow;
}
#unidades{
    border-top: 3px solid green;
}
#multimedia{
    border-top: 3px solid red;
}

header nav ul li a:hover{
    background: #1f1f1f;
    color: #ffffff;
}

.main{
    width: 65%;
    height: 100%;
    background: #ffffff;
    float: left;
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
}

.main .posts img{
    width: 200px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    float: left;
}

.main .posts h2{
    margin: 10px;
}

aside{
    width: 35%;
    height: 100%;
    background: #e0e0e0;
    padding: 20px;
    color: #000000;
    float: left;
}

aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #f8000f;
    margin-bottom: 10px;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    border-bottom: 1px solid rgba(5, 5, 5, 0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    color: #000000;
    text-decoration: none;
}

aside .widget ul li a:hover{
    color: #8f8f8f;
}

aside .widget p {
    line-height: 27px;
}

footer{
    width: 100%;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width:800px) {
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}