*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #4a465b;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

header{
    background: #ffffff;
}

header nav{
    width: 100%;
}

header nav ul{
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: black;
}

header nav ul li a:hover{
    background: #000000;
    color: #ffffff;
}

.main{
    width: 70%;
    background: #ffffff;
    float: left;
}

.main .imagen{
    width: 100%;
}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
}

.main .posts article h2{
    margin-bottom: 20px;
    color: #424242;
}

.main .posts article p{
    margin-bottom: 15px;
    line-height: 27px;
}

aside{
    width: 30%;
    background: #161f26;
    padding: 20px;
    color: #ffffff;
    float: left;
}

aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    color: #ff8000;
    border-bottom: 1px solid #f8000f;
    margin-bottom: 10px;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    color: #ffffff;
    text-decoration: none;
}

aside .widget ul li a:hover{
    color: #8f8f8f;
}

aside .widget p {
    line-height: 27px;
}

footer{
    width: 70%;
    overflow: hidden;
    background: #000000;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width:800px) {
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}