aside{
    width: 30%;
    float: left;
    background: #161f26;
    padding: 20px;
    color: #ffffff;
    .widget{
        margin-bottom: 20px;
        .titulo{
            color:#ff8000;
            border-bottom: 1px solid #ff8000;
            margin-bottom: 10px;
        }
        ul{
            list-style: none;
            li{
                border-bottom: 1px solid rgba(#ffffff, 0.5);
                padding: 10px 0;
                a{
                    color: #ffffff;
                    text-decoration: none;
                    &:hover{
                        color: #8f8f8f;
                    }
                }
            }
        }
        p{
            line-height: 27px;
        }
    }
}