header{
    background: #ffffff;
    nav{
        ul{
            list-style: none;
            overflow: hidden;
            li{
                float: left;
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: #000000;
                    padding: 15px 20px;
                    &:hover{
                        background: #000000;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}