body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.boton{
    display: inline-block;
    padding: 15px 20px;
    background: none;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.btn-rojo{
    @extend .boton;
    background: #ff2732;
}

.btn-azul{
    @extend .boton;
    background: #246eb9;
}

.btn-verde{
    @extend .boton;
    background: #4fb560;
}