* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif; }

.contenedor {
  width: 700px;
  margin: 20px; }

header, .main, aside, footer {
  padding: 20px; }

header {
  background: #0d2c44;
  color: #ffffff; }

.main {
  background: #ffffff;
  width: 70%;
  float: left; }

aside {
  background: #bb1f35;
  color: #ffffff;
  width: 30%;
  float: left; }

footer {
  clear: both;
  width: 100%;
  background: #0d2c44;
  color: #ffffff; }

/*# sourceMappingURL=layout.css.map */
