* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #4a465b; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px;
  overflow: hidden; }

header {
  background: #ffffff; }
  header nav ul {
    list-style: none;
    overflow: hidden; }
    header nav ul li {
      float: left; }
      header nav ul li a {
        text-decoration: none;
        display: inline-block;
        color: #000000;
        padding: 15px 20px; }
        header nav ul li a:hover {
          background: #000000;
          color: #ffffff; }

.main {
  width: 70%;
  float: left;
  background: #ffffff; }
  .main .imagen {
    width: 100%; }
    .main .imagen img {
      width: 100%;
      vertical-align: top; }
  .main .posts {
    padding: 40px; }
    .main .posts article h2 {
      margin-bottom: 20px;
      color: #424242; }
    .main .posts article p {
      margin-bottom: 15px;
      line-height: 27px; }

aside {
  width: 30%;
  float: left;
  background: #161f26;
  padding: 20px;
  color: #ffffff; }
  aside .widget {
    margin-bottom: 20px; }
    aside .widget .titulo {
      color: #ff8000;
      border-bottom: 1px solid #ff8000;
      margin-bottom: 10px; }
    aside .widget ul {
      list-style: none; }
      aside .widget ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 10px 0; }
        aside .widget ul li a {
          color: #ffffff;
          text-decoration: none; }
          aside .widget ul li a:hover {
            color: #8f8f8f; }
    aside .widget p {
      line-height: 27px; }

footer {
  width: 70%;
  overflow: hidden;
  text-align: center;
  background: #000000;
  color: #ffffff;
  padding: 15px 0; }

@media screen and (max-width: 800px) {
  .main {
    width: 100%; }

  aside {
    width: 100%; }

  footer {
    width: 100%; } }

/*# sourceMappingURL=practica.css.map */
