body{
    background: #f2f2f2;
}

.articulo{
    background: #ffffff;
    .titulo{
        color: #000000;
    }

    .autor{
        color: #000000;
    }

    a{
        text-decoration: none;
    }
}