footer{
    .direccion{
        background: #3c4045;
        padding: 30px 0;
        color: #ffffff;
        .titulo{
            font-size: 32px;
            line-height: 32px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        .calle,
        .telefono,
        .correo{
            margin-bottom: 10px;
        }
        .logo{
            img{
                margin-top: 70px; 
            }
        }
    }
    .social{
        text-align: center;
        padding: 20px 0;
        a{
            padding: 10px;
            display: inline-block;
            margin: 0 20px;
            width: 50px;
            font-size: 25px;
            color: #ffffff;
            background: #000000;
            border-radius: 100%;
            &:hover{
                text-decoration: none;
            }
            &.facebook{
                background: #3b5998;
            }
            &.twitter{
                background: #55acee;
            }
            &.youtube{
                background: #cd201f;
            }
        }
    }
}