header{
    background: url(../img/bg.jpg), #019851;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    .contenedor_logo_menu{
        padding: 25px 0;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.4);
        .logo{
            a{
                display: block;
                img{
                    vertical-align: top;
                }
            }
        }
        .menu{
            text-align: right;
            line-height: 50px;
            a{
                color: #ffffff;
                margin-left: 60px;
                font-size: 18px;
            }
        }
    }
    .textos{
        color: #ffffff;
        text-align: center;
        margin: 200px 0;
        .primera_linea{
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 30px;
            font-weight: 300;
        }
        .segunda_linea{
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 60px;
            font-weight: 300;
        }
        .contenedor_btns{
            a{
                border-radius: 4px;
                border: 2px solid #ffffff;
                color: #ffffff;
                padding: 12px 0;
                font-weight: 600;
                width: 235px;
                display: inline-block;
                text-align: center;
                margin: 0 10px;
                &:hover{
                    text-decoration: none;
                    background: #ffffff;
                    color: #4f4f4f;
                }
            }
        }
    }
}