* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px; }

header {
  background: url(../img/bg.jpg), #019851;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat; }
  header .contenedor_logo_menu {
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    header .contenedor_logo_menu .logo a {
      display: block; }
      header .contenedor_logo_menu .logo a img {
        vertical-align: top; }
    header .contenedor_logo_menu .menu {
      text-align: right;
      line-height: 50px; }
      header .contenedor_logo_menu .menu a {
        color: #ffffff;
        margin-left: 60px;
        font-size: 18px; }
  header .textos {
    color: #ffffff;
    text-align: center;
    margin: 200px 0; }
    header .textos .primera_linea {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 30px;
      font-weight: 300; }
    header .textos .segunda_linea {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 60px;
      font-weight: 300; }
    header .textos .contenedor_btns a {
      border-radius: 4px;
      border: 2px solid #ffffff;
      color: #ffffff;
      padding: 12px 0;
      font-weight: 600;
      width: 235px;
      display: inline-block;
      text-align: center;
      margin: 0 10px; }
      header .textos .contenedor_btns a:hover {
        text-decoration: none;
        background: #ffffff;
        color: #4f4f4f; }

.main .caracteristicas {
  padding: 70px 0; }
  .main .caracteristicas .titulo {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #000000;
    margin-bottom: 70px; }
  .main .caracteristicas .caracteristica {
    text-align: center; }
    .main .caracteristicas .caracteristica .icono {
      vertical-align: top;
      margin-bottom: 30px; }
    .main .caracteristicas .caracteristica .primera_linea {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 20px; }
    .main .caracteristicas .caracteristica .parrafo {
      margin-bottom: 30px;
      line-height: 28px; }
.main .fotos {
  margin-bottom: 70px;
  background: #f2f2f2; }
  .main .fotos .foto {
    margin-bottom: 20px; }
    .main .fotos .foto .thumb img {
      border-radius: 3px;
      width: 100%;
      vertical-align: top; }
    .main .fotos .foto .titulo {
      margin-top: 70px;
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 32px;
      font-weight: 300; }
      .main .fotos .foto .titulo.azul {
        color: #4facd3; }
      .main .fotos .foto .titulo.naranja {
        color: #ddb146; }
    .main .fotos .foto .parrafo {
      line-height: 28px; }
    .main .fotos .foto .derecha {
      text-align: right; }
.main .clientes {
  background: #2d353e;
  padding: 40px 0; }
  .main .clientes .titulo {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 40px; }
  .main .clientes .cliente {
    text-align: center; }
    .main .clientes .cliente a {
      display: block; }
.main .precios {
  background: url(../img/precios-bg.jpg), #727171;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  padding: 70px 0; }
  .main .precios .titulo {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 70px; }
  .main .precios .plan {
    background: #ffffff;
    text-align: center;
    padding: 50px 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
    .main .precios .plan .nombre {
      font-size: 32px;
      line-height: 32px;
      font-weight: 300;
      margin-bottom: 30px; }
    .main .precios .plan .precio {
      font-weight: 300;
      font-size: 48px;
      margin-bottom: 30px; }
    .main .precios .plan .caracteristicas {
      list-style: none;
      padding: 0 20px;
      margin-bottom: 50px; }
      .main .precios .plan .caracteristicas li {
        font-size: 18px;
        padding: 15px 0;
        border-bottom: 1px solid #dedede; }
    .main .precios .plan .btn {
      width: 70%;
      font-size: 16px;
      padding: 15px 0;
      text-align: center;
      display: inline-block;
      border-radius: 100px; }
    .main .precios .plan.verde .nombre,
    .main .precios .plan.verde .precio,
    .main .precios .plan.verde .btn {
      color: #86b773; }
    .main .precios .plan.verde .btn {
      border: 2px solid #86b773; }
      .main .precios .plan.verde .btn:hover {
        background: #86b773;
        color: #ffffff; }
    .main .precios .plan.active {
      background: #4c8dce;
      color: #ffffff; }
      .main .precios .plan.active .btn {
        color: #ffffff;
        border: 2px solid #ffffff; }
        .main .precios .plan.active .btn:hover {
          background: #ffffff;
          color: #4c8dce; }
    .main .precios .plan.naranja .nombre,
    .main .precios .plan.naranja .precio,
    .main .precios .plan.naranja .btn {
      color: #ddb146; }
    .main .precios .plan.naranja .btn {
      border: 2px solid #ddb146; }
      .main .precios .plan.naranja .btn:hover {
        background: #ddb146;
        color: #ffffff; }
.main .reviews {
  padding: 70px; }
  .main .reviews .titulo {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #4facd3;
    margin-bottom: 70px; }
  .main .reviews .cliente {
    overflow: hidden;
    margin-bottom: 20px; }
    .main .reviews .cliente .foto {
      width: 20%;
      float: left;
      text-align: right; }
      .main .reviews .cliente .foto img {
        max-width: 100px;
        width: 100%;
        vertical-align: top;
        border-radius: 100%; }
    .main .reviews .cliente .review {
      float: left;
      width: 80%;
      padding: 0 30px;
      margin-top: 20px; }
      .main .reviews .cliente .review .texto {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px; }
      .main .reviews .cliente .review .nombre {
        color: #ddb146;
        font-size: 14px; }
    .main .reviews .cliente.derecha .foto {
      float: right;
      text-align: left; }
    .main .reviews .cliente.derecha .review {
      float: right;
      text-align: right; }

footer .direccion {
  background: #3c4045;
  padding: 30px 0;
  color: #ffffff; }
  footer .direccion .titulo {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px; }
  footer .direccion .calle,
  footer .direccion .telefono,
  footer .direccion .correo {
    margin-bottom: 10px; }
  footer .direccion .logo img {
    margin-top: 70px; }
footer .social {
  text-align: center;
  padding: 20px 0; }
  footer .social a {
    padding: 10px;
    display: inline-block;
    margin: 0 20px;
    width: 50px;
    font-size: 25px;
    color: #ffffff;
    background: #000000;
    border-radius: 100%; }
    footer .social a:hover {
      text-decoration: none; }
    footer .social a.facebook {
      background: #3b5998; }
    footer .social a.twitter {
      background: #55acee; }
    footer .social a.youtube {
      background: #cd201f; }

@media screen and (max-width: 992px) {
  header .contenedor_logo_menu .logo {
    margin-bottom: 20px;
    text-align: center; }
  header .contenedor_logo_menu .menu {
    text-align: center; }
    header .contenedor_logo_menu .menu a {
      margin: 0 20px; }
  header .textos {
    margin: 50px 0;
    font-size: 16px; }
    header .textos .primera_linea {
      font-size: 1.5em; }
    header .textos .segunda_linea {
      font-size: 1.3em; }
    header .textos .contenedor_btns a {
      margin-bottom: 10px; }

  .main .fotos .foto .titulo {
    margin-top: 0px; }
  .main .clientes .cliente {
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .main .caracteristicas .caracteristica {
    margin-bottom: 40px; }
  .main .fotos .foto {
    text-align: center; }
    .main .fotos .foto .texto * {
      text-align: left; }
    .main .fotos .foto .texto p {
      margin-bottom: 10px; }
  .main .precios .precio {
    margin-bottom: 20px; }

  footer .direccion {
    text-align: center; }
    footer .direccion .logo img {
      margin-top: 20px; } }

/*# sourceMappingURL=estilos.css.map */
