*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

@import "header";
@import "main";
@import "footer";
@import "responsive";