.main{
    .acerca{
        .contenedor{
            overflow: visible;
            position: relative;
        }
        .foto{
            width: 80%;
            position: absolute;
            left: 0;
            top: -50px;
            z-index: 0;
            box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .35);
            img{
                vertical-align: top;
                width: 100%;
            }
        }
        article{
            background: #ffffff;
            padding: 40px;
            position: relative;
            width: 50%;
            position: relative;
            top: 600px;
            float: right;
            z-index: 1;
            box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: .35);
            h3{
                font-size: 50px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            p{
                line-height: 28px;
                margin-bottom: 15px;
            }
        }
    }
}