.main{
    .galeria{
        overflow: hidden;
        .foto{
            width: 25%;
            float: left;
            img{
                width: 100%;
                vertical-align: top;
                opacity: 0.7;
                &:hover{
                    opacity: 1;
                    transition: all 0.3 ease;
                    -moz-transition: all 0.3 ease;
                    -webkit-transition: all 0.3 ease;
                }
            }
        }
    }
}