*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    //font-family: Arial, Helvetica, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}