header{
    width: 100%;
    background: url(../img/bg.jpg) #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    
    .contenedor{
        position: relative;
        height: 700px;
    }

    .menu{
        width: 100%;
        text-align: right;
        a{
            color: #ffffff;
            font-size: 20px;
            font-weight: 300;
            display: inline-block;
            margin: 40px 20px;
            text-decoration: none;
            position: relative;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .textos{
        width: 100%;
        color: #ffffff;
        position: absolute;
        top: 50%;
        margin-top: -52px;
        .nombre{
            font-size: 50px;
            font-weight: 600;
            span{
                font-weight: 300;
            }
        }

        h3{
            font-weight: 300;
            font-size: 25px;
            font-style: italic;
        }
    }
}

