@media screen and (max-width: 800px) {

    //HEADER

    header{
        .contenedor{
            position: static;
            height: auto;
        }
        .textos{
            position: static;
            margin: 100px 0;
            .nombre{
                font-size: 30px;
            }
            h3{
                font-size: 18px;
            }
        }
        .menu{
            text-align: center;
            a{
                margin: 10px 20px;
            }
        }
    }

    //MAIN

    .main{
        .acerca{
            .foto{
                width: 100%;
                position: relative;
            }
            article{
                position: relative;
                width: 100%;
                top: -50px;
                transform: translate(0px, 0);
            }
        }
        .menu{
            padding-top: 300px;
            article{
                width: 100%;
            }
        }
        .galeria{
            .foto{
                width: 50%;
            }
        }
        .mapa{
            width: 80%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 400px){

    //MAIN

    .main{
        .acerca{
            article{
                h3{
                    font-size: 34px;
                    margin-bottom: 10px;
                }
            }
        }
        .menu{
            article{
                .nombre, .precio{
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
        .ubicacion{
            .direccion{
                margin-bottom: 15px;
                width: 100%;
                text-align: center;
            }
            .horarios{
                width: 100%;
                text-align: center;
            }
        }
    }
}