.main{
    .ubicacion{
        background: #ffffff;
        padding: 60px 0;
        .titulo{
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            font-weight: 300;
            margin-bottom: 40px;
        }
        .direccion{
            float: left;
            width: 50%;
            text-align: left;
            .calle{
                margin-bottom: 15px;
            }
        }
        .horarios{
            float: right;
            width: 50%;
            text-align: right;
            overflow: hidden;
            h4{
                font-size: 20px;
                margin-bottom: 20px;
                text-align: center;
                font-weight: 600;
            }
            .entre-semana, .fin-semana{
                width: 50%;
                float: left;
                text-align: center;
            }
        }
        
    }
}