* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: Arial, Sans-serif; }

.contenedor {
  width: 700px;
  margin: 20px; }

header,
.main,
aside,
footer {
  padding: 20px; }

header {
  background: #0D2C44;
  color: #fff; }

.main {
  background: #fff;
  width: 70%;
  float: left; }

footer {
  clear: both;
  width: 100%;
  background: #0D2C44;
  color: #fff; }

footer {
  clear: both;
  width: 100%;
  background: #0D2C44;
  color: #fff; }

/*# sourceMappingURL=layout.css.map */
