footer{
    .menu{
        background: $azul_primario;
        ul{
            list-style: none;
            overflow: hidden;
            margin: 0;
            padding: 0;
            li{
                float: left;
                display: inline-block;
                a{
                    display: inline-block;
                    padding: 1em 1.25em;
                    font-size: 0.87em;
                    color: #ffffff;
                    &:hover{
                        text-decoration: none;
                        background: $azul_secundario;
                    }
                }
            }
        }
    }
    .copy{
        p{
            font-size: 0.87em;
            color: #000000;
            pad: 0.625em;
            text-align: center;
            margin: 0;
        }
    }
}