header{
    .logo{
        padding: 1.25em 0;
        a{
            display: inline-block;
        }
    }
    .redes-sociales{
        text-align: right;
        line-height: 5em;
        a{
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            text-align: center;
            display: inline-block;
            background: navy;
            color: #ffffff;
            margin-left: 1.25em;
            i{
                line-height: 2.5;
            }
            &.youtube{
                background: #c05554;
            }
            &.facebook{
                background: #3b5998;
            }
            &.twitter{
                background: #55acee;
            }
        }
    }
    .menu{
        background: $azul_primario;
        margin-bottom: 1.25em;
        ul{
            list-style: none;
            overflow: hidden;
            margin-bottom: 0;
            padding: 0;
            li{
                float: left;
                display: inline-block;
                a{
                    color: #ffffff;
                    display: inline-block;
                    padding: 1em 1.25em;
                    font-size: 0.87em;
                    &:hover{
                        text-decoration: none;
                        background: $azul_secundario;
                    }
                }
            } 
        }
    }
}