.main,
.sidebar{
    .titulo-seccion{
        h3{
            font-family: $font-family-2;
            font-family: 1.5em;
            line-height: 1.5em;
            font-weight: normal;
            color: $gris-oscuro;
            padding-bottom: 0.62em;
            border-bottom: 4px solid $verde;
            margin-bottom: 1.25em;
        }
    }
}

.main{
    .single-post{
        .categorias{
            margin-bottom: 1.875em;
        }
    }

    .posts{
        .post{
            margin-bottom: 1.875em;
            .contenedor{
                background: #ffffff;
                box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);
                .thumb{
                    img{
                        width: 100%;
                        vertical-align: top;
                        height: auto;
                    }
                }
                .info{
                    padding: 1.25em;
                    .titulo{
                        line-height: 1.125em;
                        margin-bottom: 1.25;
                        font-size: 1.125em;
                        font-weight: bold;
                        a{
                            color: $gris_oscuro;
                        }
                    }
                    .fecha{
                        color: $gris_claro;
                        font-size: 0.875em;
                        margin: 1.25em 0;
                    }
                    .extracto{
                        color: $texto;
                        font-size: 1em;
                        height: 8.125em;
                        max-height: 8.125em;
                        line-height: 1.75em;
                        margin-bottom: 1.25em;
                        overflow: hidden;
                        &:hover{
                            overflow: auto;
                        }
                    }
                    .categorias{
                        ul{
                            list-style: none;
                            li{
                                display: inline-block;
                            }
                        }
                        a{
                            color: $gris_claro;
                            font-size: 1em;
                            font-weight: bold;
                            margin-right: 1.25em;
                            &:hover{
                                color: $azul_primario;
                            }
                        }
                    }
                }
            }
        }
    }

    .paginacion{
        ul{
            list-style: none;
            overflow: hidden;
            margin-bottom: 1.25em;
            font-size: 1em;
            li{
                float: left;
                background: $gris_oscuro;
                color: #ffffff;
                margin-right: 0.62em;
                font-size: 1.125em;
                line-height: 1.125em;
                &.disabled{
                    padding: 0.62em 0.937em;
                    font-size: 1.125em;
                    line-height: 1.125em;
                }
                a{
                    background: $azul_primario;
                    color: #ffffff;
                    line-height: 1.125em;
                    display: inline-block;
                    padding: 0.62em 0.937em;
                    &:hover{
                        background: $azul_secundario;
                        text-decoration: none;
                    }
                }
            }
        }
        .wp-pagenavi{
            margin-bottom: 1.25em;
            .pages,
            span{
                background: $gris_oscuro;
                color: #ffffff;
                margin-right: 0.62em;
                font-size: 1.125em;
                line-height: 1.125em;
                padding: 0.62em 0.937em;
            }
            a{
                background: $azul_primario;
                color: #ffffff;
                font-size: 1.125em;
                display: inline-block;
                padding: 0.62em 0.937em;
                margin-right: 0.62em;
                &:hover{
                    background: $azul_secundario;
                    text-decoration: none;
                }
            }
        }
    }
}