.sidebar{
    .widget{
        margin-bottom: 2.5em;
        &.redes-sociales{
            overflow: hidden;
            a{
                float: left;
                padding: 1.25em;
                text-align: center;
                background: #000000;
                width: 33.33333%;
                color: #ffffff;
                display: inline-block;
                &:hover{
                    text-decoration: none;
                }
                &.youtube{
                    background: #cc181e;
                }
                &.twitter{
                    background: #00abf0;
                }
                &.facebook{
                    background: #3b5998;
                }
                i{
                    width: 100%;
                    font-size: 1.875em;
                    margin-bottom: 0.5em;
                }
            }
        }
        &.boletin{
            .formulario{
                background: #0e2b37;
                padding: 1.25em;
                text-align: center;
                label{
                    color: #ffffff;
                    margin-bottom: 1.25em;
                    display: block;
                    font-weight: normal;
                }
                input[type="email"]{
                    color: $gris_claro;
                    text-align: center;
                    padding: 0.65em;
                    font-size: 1.125em;
                    border-radius: 3px;
                    width: 100%;
                    border: none;
                    margin-bottom: 1.25em;;
                }
                input[type="submit"]{
                    background: $verde;
                    border-radius: 3px;
                    padding: 0.625em 1.875em;
                    border: none;
                    color: #ffffff;
                }
            }
        }
        &.contenedor-ad{
            text-align: center;
            a{
                display: inline-block;
            }
        }
    }
}