* {
  margin: 0;
  padding: 0; }

body {
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Open Sans", Sans-serif; }

.ad {
  margin-bottom: 1.25em;
  text-align: center; }

a {
  color: #5f6ad4; }

header .logo {
  padding: 1.25em 0; }
  header .logo a {
    display: inline-block; }
header .redes-sociales {
  text-align: right;
  line-height: 5em; }
  header .redes-sociales a {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    display: inline-block;
    background: navy;
    color: #ffffff;
    margin-left: 1.25em; }
    header .redes-sociales a i {
      line-height: 2.5; }
    header .redes-sociales a.youtube {
      background: #c05554; }
    header .redes-sociales a.facebook {
      background: #3b5998; }
    header .redes-sociales a.twitter {
      background: #55acee; }
header .menu {
  background: #5f6ad4;
  margin-bottom: 1.25em; }
  header .menu ul {
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0; }
    header .menu ul li {
      float: left;
      display: inline-block; }
      header .menu ul li a {
        color: #ffffff;
        display: inline-block;
        padding: 1em 1.25em;
        font-size: 0.87em; }
        header .menu ul li a:hover {
          text-decoration: none;
          background: #7780da; }

.main .titulo-seccion h3,
.sidebar .titulo-seccion h3 {
  font-family: "Oswald", Sans-serif;
  font-family: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #3b3b3b;
  padding-bottom: 0.62em;
  border-bottom: 4px solid #48b04d;
  margin-bottom: 1.25em; }

.main .single-post .categorias {
  margin-bottom: 1.875em; }
.main .posts .post {
  margin-bottom: 1.875em; }
  .main .posts .post .contenedor {
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); }
    .main .posts .post .contenedor .thumb img {
      width: 100%;
      vertical-align: top;
      height: auto; }
    .main .posts .post .contenedor .info {
      padding: 1.25em; }
      .main .posts .post .contenedor .info .titulo {
        line-height: 1.125em;
        margin-bottom: 1.25;
        font-size: 1.125em;
        font-weight: bold; }
        .main .posts .post .contenedor .info .titulo a {
          color: #3b3b3b; }
      .main .posts .post .contenedor .info .fecha {
        color: #909090;
        font-size: 0.875em;
        margin: 1.25em 0; }
      .main .posts .post .contenedor .info .extracto {
        color: #292929;
        font-size: 1em;
        height: 8.125em;
        max-height: 8.125em;
        line-height: 1.75em;
        margin-bottom: 1.25em;
        overflow: hidden; }
        .main .posts .post .contenedor .info .extracto:hover {
          overflow: auto; }
      .main .posts .post .contenedor .info .categorias ul {
        list-style: none; }
        .main .posts .post .contenedor .info .categorias ul li {
          display: inline-block; }
      .main .posts .post .contenedor .info .categorias a {
        color: #909090;
        font-size: 1em;
        font-weight: bold;
        margin-right: 1.25em; }
        .main .posts .post .contenedor .info .categorias a:hover {
          color: #5f6ad4; }
.main .paginacion ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 1.25em;
  font-size: 1em; }
  .main .paginacion ul li {
    float: left;
    background: #3b3b3b;
    color: #ffffff;
    margin-right: 0.62em;
    font-size: 1.125em;
    line-height: 1.125em; }
    .main .paginacion ul li.disabled {
      padding: 0.62em 0.937em;
      font-size: 1.125em;
      line-height: 1.125em; }
    .main .paginacion ul li a {
      background: #5f6ad4;
      color: #ffffff;
      line-height: 1.125em;
      display: inline-block;
      padding: 0.62em 0.937em; }
      .main .paginacion ul li a:hover {
        background: #7780da;
        text-decoration: none; }
.main .paginacion .wp-pagenavi {
  margin-bottom: 1.25em; }
  .main .paginacion .wp-pagenavi .pages,
  .main .paginacion .wp-pagenavi span {
    background: #3b3b3b;
    color: #ffffff;
    margin-right: 0.62em;
    font-size: 1.125em;
    line-height: 1.125em;
    padding: 0.62em 0.937em; }
  .main .paginacion .wp-pagenavi a {
    background: #5f6ad4;
    color: #ffffff;
    font-size: 1.125em;
    display: inline-block;
    padding: 0.62em 0.937em;
    margin-right: 0.62em; }
    .main .paginacion .wp-pagenavi a:hover {
      background: #7780da;
      text-decoration: none; }

.sidebar .widget {
  margin-bottom: 2.5em; }
  .sidebar .widget.redes-sociales {
    overflow: hidden; }
    .sidebar .widget.redes-sociales a {
      float: left;
      padding: 1.25em;
      text-align: center;
      background: #000000;
      width: 33.33333%;
      color: #ffffff;
      display: inline-block; }
      .sidebar .widget.redes-sociales a:hover {
        text-decoration: none; }
      .sidebar .widget.redes-sociales a.youtube {
        background: #cc181e; }
      .sidebar .widget.redes-sociales a.twitter {
        background: #00abf0; }
      .sidebar .widget.redes-sociales a.facebook {
        background: #3b5998; }
      .sidebar .widget.redes-sociales a i {
        width: 100%;
        font-size: 1.875em;
        margin-bottom: 0.5em; }
  .sidebar .widget.boletin .formulario {
    background: #0e2b37;
    padding: 1.25em;
    text-align: center; }
    .sidebar .widget.boletin .formulario label {
      color: #ffffff;
      margin-bottom: 1.25em;
      display: block;
      font-weight: normal; }
    .sidebar .widget.boletin .formulario input[type="email"] {
      color: #909090;
      text-align: center;
      padding: 0.65em;
      font-size: 1.125em;
      border-radius: 3px;
      width: 100%;
      border: none;
      margin-bottom: 1.25em; }
    .sidebar .widget.boletin .formulario input[type="submit"] {
      background: #48b04d;
      border-radius: 3px;
      padding: 0.625em 1.875em;
      border: none;
      color: #ffffff; }
  .sidebar .widget.contenedor-ad {
    text-align: center; }
    .sidebar .widget.contenedor-ad a {
      display: inline-block; }

footer .menu {
  background: #5f6ad4; }
  footer .menu ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0; }
    footer .menu ul li {
      float: left;
      display: inline-block; }
      footer .menu ul li a {
        display: inline-block;
        padding: 1em 1.25em;
        font-size: 0.87em;
        color: #ffffff; }
        footer .menu ul li a:hover {
          text-decoration: none;
          background: #7780da; }
footer .copy p {
  font-size: 0.87em;
  color: #000000;
  pad: 0.625em;
  text-align: center;
  margin: 0; }

@media screen and (max-width: 768px) {
  header .logo {
    text-align: center; }
  header .redes-sociales {
    display: none; }
  header .menu ul {
    text-align: center; }
    header .menu ul li {
      float: none; }

  .main .posts .post .contenedor .info .extracto {
    height: auto; }

  .sidebar {
    display: none; }

  footer .menu ul {
    text-align: center; }
    footer .menu ul li {
      float: none; } }

/*# sourceMappingURL=estilos.css.map */
