$fondo: #f2f2f2;
$azul_primario: #5f6ad4;
$azul_secundario: #7780da;
$gris_oscuro: #3b3b3b;
$gris_claro: #909090;
$texto: #292929;
$verde: #48b04d;

$font-family: "Open Sans", Sans-serif;
$font-family-2: "Oswald", Sans-serif;
$font-size: 16px;

*{
    margin: 0;
    padding: 0;
}

body{
    background: $fondo;
    font-size: $font-size;
    font-family: $font-family;
}

.ad{
    margin-bottom: 1.25em; // <= 16px*1.25 = 20px
    text-align: center;
}

a{
    color: $azul_primario;
}

@import "header";
@import "main";
@import "sidebar";
@import "footer";
@import "mediaqueries";